/********** Template CSS **********/
:root {
  --primary: #06a3da;
  --secondary: #f57e57;
  --light: #eef9ff;
  --dark: #060607;
}
/* Add a class for the jump animation */
.jump-animation {
  animation: jump 0.5s linear infinite;
}
#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary p.collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#summary p.collapsing {
  min-height: 42px !important;
}

#summary a.collapsed:after {
  content: "+ Read More";
}

#summary a:not(.collapsed):after {
  content: "- Read Less";
}

#summary_2 p.collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#summary_2 p.collapsing {
  min-height: 42px !important;
}

#summary_2 a.collapsed:after {
  content: "+ Read More";
}

#summary_2 a:not(.collapsed):after {
  content: "- Read Less";
}

/* Define the jump animation keyframes */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.stop-animation {
  animation-play-state: paused;
}
.logo {
  width: 280px;
}
h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}
h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}
.bg-primary-custom {
  background: #a17fe0;
}

.bg-dark-custom {
  background: #b993d6;
}
.bg-secondary-custom {
  background: #7474bf;
  /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text-white-custom {
  color: #060607 !important;
}
.btn-primary {
  background: #b993d6;
}
.btn-secondary {
  background: #b993d6;
  border-radius: 50px;
  color: #fff;
  border: none;
}
.btn-primary {
  border: none !important;
  color: #fff !important;
  border-radius: 50px;
}

.btn-primary:hover {
  background: #a17fe0;
  border-color: var(--secondary);
}
.custom-call {
  color: #b993d6;
}

.custom-call :hover {
  color: red;
}
.btn-secondary:hover {
  background: #a17fe0;
  color: #fff;
}
.icon-custom {
  color: #b993d6 !important;
}
.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#spinner img {
  display: none;
}

#spinner.show img {
  display: block;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.top-shape {
  background-color: #7474bf !important;
  color: #fff !important;
}
.top-shape::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 100%;
  top: 0;
  left: -17px;
  background: #a17fe0;
  transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Jost", sans-serif;
  padding: 35px 15px;
  font-size: 18px;
  color: #b993d6;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #a17fe0;
}

/*.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 2px solid #c01c7b;
}*/
.accordion-item .accordion-header-custom button {
  background-color: #b993d6 !important;
}
@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}
.text-white-custom {
  color: #eef9ff; /* Replace with your desired text color */
}
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ddc5e9; /*  #c03381  #7f65c0*/
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2rem;
  height: 2rem;
  background-color: #dd72b6;
  color: #069 !important;
  position: relative;
  top: 50px;
}

@media (min-width: 991.98px) {
  .banner {
    position: relative;
    margin-top: -90px;
    z-index: 1;
  }
}

.section-title h5::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 3px;
  right: -55px;
  bottom: 11px;
  background: #a17fe0;
}

.section-title h5::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  right: -75px;
  bottom: 11px;
  background: #a17fe0;
}

.twentytwenty-wrapper {
  height: 100%;
}

.hero-header {
  background: linear-gradient(rgba(9, 30, 62, 0.85), rgba(9, 30, 62, 0.85));
}

.bg-appointment {
  background-color: #ddc5e9 !important;
}

.appointment-form {
  background: #b993d6; /*#a17fe0  #e38ac2*/
}

.service-item img,
.service-item .bg-light,
.service-item .bg-light h5,
.team-item .team-text {
  transition: 0.5s;
}

.service-item:hover img {
  transform: scale(1.15);
}

.team-item .team-text::after,
.service-item .bg-light::after {
  position: absolute;
  content: "";
  top: 50%;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: 100px / 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.team-item:hover .team-text::after,
.service-item:hover .bg-light::after {
  opacity: 1;
}

.bg-offer {
  background-color: #ddc5e9;
}

.offer-text {
  background: #b993d6 /*#9d50bb*/;
}

.price-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 45px);
  height: 45px;
  top: calc(50% - 22.5px);
  left: -22.5px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}

.price-carousel:hover .owl-nav {
  opacity: 1;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 2px;
  font-size: 22px;
  transition: 0.5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #fff;
}
.services .icon-box .icon {
  width: 64px;
  height: 64px;
  background: #dd72b6;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #fff;
}
.services .icon-box .icon i {
  font-size: 28px;
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #282828;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 0;
}
.services .icon-box:hover {
  transform: translateY(-10px);
  border-color: rebeccapurple;
}
.services .icon-box:hover h4 a {
  color: #069;
}
.bg-testimonial {
  background: #ddc5e9;
  background-size: cover;
}

.testimonial-carousel {
  background: #b993d6;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 46px);
  height: 46px;
  top: calc(50% - 23px);
  left: -23px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #a17fe0;
  border-radius: 2px;
  font-size: 22px;
  border-radius: 25px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: #c01c7b;
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
}
